<h3>操作日志</h3>
<%= paginate @logs %>
<table >
  <tr>
    <th>controller</th>
    <th>action</th>
    <th>时间</th>
    <th>用户名</th>
    <th>详情</th>
    <th>详情full request</th>
  </tr>
  <% @logs.each do |log| %>
  <tr>
    <td><%= log.controller %></td>
    <td><%= log.action %></td>
    <td><%= log.created_at.strftime '%y-%m-%d %H:%M:%S' %></td>
    <td><%= log.user_name %></td>
    <td><%= log.parameters %></td>
    <td><%= log.full_request%></td>
  </tr>
  <% end %>

</table>
<%= paginate @logs %>
